<template>
  <q-page padding>
    <!-- content -->
    <div class="column">
      <q-table title="Treats" :data="members" :columns="columns" row-key="name">
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="name" :props="props">{{ props.row.name }}</q-td>
            <q-td key="birthday" :props="props">{{ props.row.birthday }}</q-td>
            <q-td key="birthplace" :props="props">{{
              props.row.birthplace
            }}</q-td>
            <q-td key="gender" :props="props">{{ props.row.gender }}</q-td>
            <q-td key="education" :props="props">{{
              props.row.education
            }}</q-td>
            <q-td key="phone" :props="props">{{ props.row.phone }}</q-td>
            <q-td key="email" :props="props">{{ props.row.email }}</q-td>
            <q-td key="city" :props="props">{{ props.row.city }}</q-td>
            <q-td key="state" :props="props">{{ props.row.state }}</q-td>
            <q-td key="affiliate" :props="props">{{
              props.row.affiliate
            }}</q-td>
            <q-td key="title" :props="props">{{ props.row.title }}</q-td>
            <q-td key="transfer" :props="props"
              ><a :href="props.row.transfer" target="_blank">Lihat</a></q-td
            >
            <q-td key="qrcode" :props="props"
              ><a
                @click="$router.push('/confirmation/' + props.row._id)"
                target="_blank"
                >Lihat</a
              ></q-td
            >
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  created: function() {
    this.$axios
      .get(process.env.API + "/api/all")
      .then(res => {
        console.log(res);
        this.members = res.data.members;
      })
      .catch(e => {
        console.log("error", e);
      });
  },
  data: function() {
    return {
      members: [],
      columns: [
        {
          name: "name",
          label: "Nama",
          field: "name"
        },
        {
          name: "birthday",
          label: "Tanggal Lahir",
          field: "birthday"
        },
        {
          name: "birthplace",
          label: "Tempat Lahir",
          field: "birthplace"
        },
        { name: "gender", label: "Jenis Kelamin", field: "gender" },
        { name: "education", label: "Pendidikan Terakhir", field: "education" },
        { name: "phone", label: "No. WA", field: "phone" },
        {
          name: "email",
          label: "Email",
          field: "email"
        },
        {
          name: "city",
          label: "Asal Kota",
          field: "city"
        },
        {
          name: "state",
          label: "Asal Provinsi",
          field: "state"
        },
        {
          name: "affiliate",
          label: "Utusan Dari",
          field: "affiliate"
        },
        {
          name: "title",
          label: "Jabatan",
          field: "title"
        },
        {
          name: "transfer",
          label: "Bukti Transfer",
          field: "transfer"
        },
        {
          name: "qrcode",
          label: "QR Code",
          field: "_id"
        }
      ]
    };
  }
};
</script>
