<style scoped lang="scss"></style>

<template>
  <q-page padding class="column items-center justify-center">
    <!-- content -->
    <p class="text-bold">QR Code Registrasi</p>
    <qrcode :value="registerID" :options="{ width: 200 }"></qrcode>
    <p>Terimakasih telah mendaftar</p>
  </q-page>
</template>

<script>
import VueQrcode from "@chenfengyuan/vue-qrcode";

export default {
  // name: 'PageName',
  components: {
    qrcode: VueQrcode
  },
  data: function() {
    return {
      registerID: this.$route.params.id
    };
  }
};
</script>
