<style scoped lang="scss">
.logo {
  font-size: 30px;
  font-weight: 600;
}
.info {
  margin-bottom: 2px;
}
.mb-20 {
  margin-bottom: 20px;
}
.logo{
  max-width: 200px;
  margin-bottom: 20px;
}
.info--main{
  font-weight: 600;
  font-size: 20px;
}
</style>

<template>
  <q-page class="column items-center justify-center">
    <img class="logo" src="~assets/logo.png">
    <p class="info info--main">REVENT</p>
    <p class="info">Registrasi Event</p>
    <p class="info">Seminar Nasional PNFI</p>
    <p class="info mb-20">Rabu, 15 April 2020</p>
    <q-btn color="primary" label="Daftar" @click="$router.push('/register')" />
  </q-page>
</template>

<script>
export default {
  name: "PageIndex"
};
</script>
