<style scoped lang="scss">
.qrbox {
  width: 300px;
}
</style>

<template>
  <q-page padding class="flex column justify-center items-center">
    <!-- content -->
    <qrcode-stream @decode="onDecode" @init="onInit" class="qrbox" />
    <div class="flex column">
      <p>Nama Lengkap: {{ this.member.name }}</p>
      <p>Tempat Lahir: {{ this.member.birthplace }}</p>
      <p>Tanggal Lahir: {{ this.member.birthday }}</p>
      <p>Jenis Kelamin: {{ this.member.gender }}</p>
      <p>Pendidikan Terakhir: {{ this.member.education }}</p>
      <p>No. WA: {{ this.member.phone }}</p>
      <p>Email: {{ this.member.email }}</p>
      <p>Asal Kota: {{ this.member.city }}</p>
      <p>Asal Provinsi: {{ this.member.state }}</p>
      <p>Utusan dari: {{ this.member.affiliate }}</p>
      <p>Jabatan: {{ this.member.title }}</p>
      <img :src="this.member.transfer" />
    </div>
  </q-page>
</template>

<script>
import { QrcodeStream } from "vue-qrcode-reader";
export default {
  name: "Reader",
  components: { QrcodeStream },

  data() {
    return {
      result: "",
      member: "",
      error: ""
    };
  },

  methods: {
    onDecode(result) {
      this.result = result;
      this.$axios
        .post(process.env.API + "/api/check", {
          _id: result
        })
        .then(res => {
          console.log(res);
          this.member = res.data.member;
        })
        .catch(e => {
          console.log("error", e);
        });
    },

    async onInit(promise) {
      try {
        await promise;
      } catch (error) {
        if (error.name === "NotAllowedError") {
          this.error = "ERROR: you need to grant camera access permisson";
        } else if (error.name === "NotFoundError") {
          this.error = "ERROR: no camera on this device";
        } else if (error.name === "NotSupportedError") {
          this.error = "ERROR: secure context required (HTTPS, localhost)";
        } else if (error.name === "NotReadableError") {
          this.error = "ERROR: is the camera already in use?";
        } else if (error.name === "OverconstrainedError") {
          this.error = "ERROR: installed cameras are not suitable";
        } else if (error.name === "StreamApiNotSupportedError") {
          this.error = "ERROR: Stream API is not supported in this browser";
        }
      }
    }
  }
};
</script>
