<style scoped lang="scss">
.test {
  font-size: 30px;
}
</style>

<template>
  <q-page padding>
    <!-- content -->
    <p class="test">REVENT</p>
    <p>Registrasi Event</p>
    <p>Seminar Nasional PNFI</p>
    <p>Rabu, 15 April 2020</p>
    <div class="row q-col-gutter-xs q-mb-xs">
      <div class="col-12">
        <q-input filled v-model="model.name" label="Nama Lengkap" />
      </div>
    </div>
    <div class="row q-col-gutter-xs q-mb-xs">
      <div class="col-12 col-md-6">
        <q-select
          filled
          v-model="model.birthplace"
          :options="kabupaten"
          use-input
          input-debounce="0"
          @filter="filterFn"
          label="Tempat Lahir"
        />
      </div>
      <div class="col-12 col-md-6">
        <q-input
          filled
          v-model="model.birthday"
          label="Tanggal Lahir"
          stack-label
          type="date"
        />
      </div>
    </div>
    <div class="row q-col-gutter-xs q-mb-xs">
      <div class="col-12 col-md-6">
        <q-select
          filled
          v-model="model.gender"
          :options="gender"
          label="Jenis Kelamin"
        />
      </div>
      <div class="col-12 col-md-6">
        <q-select
          filled
          v-model="model.education"
          :options="education"
          label="Pendidikan Terakhir"
        />
      </div>
    </div>
    <div class="row q-col-gutter-xs q-mb-xs">
      <div class="col-12 col-md-6">
        <q-input filled v-model="model.phone" label="No. WA" />
      </div>
      <div class="col-12 col-md-6">
        <q-input filled v-model="model.email" type="email" label="E-mail" />
      </div>
    </div>
    <div class="row q-col-gutter-xs q-mb-xs">
      <div class="col-12 col-md-6">
        <q-select
          filled
          v-model="model.city"
          :options="kabupaten"
          use-input
          input-debounce="0"
          @filter="filterFn"
          label="Asal Kota"
        />
      </div>
      <div class="col-12 col-md-6">
        <q-select
          filled
          v-model="model.state"
          :options="provinsi"
          label="Asal Provinsi"
        />
      </div>
    </div>
    <div class="row q-col-gutter-xs q-mb-xs">
      <div class="col-12 col-md-6">
        <q-input filled v-model="model.affiliate" label="Utusan dari" />
      </div>
      <div class="col-12 col-md-6">
        <q-select
          filled
          v-model="model.title"
          :options="title"
          label="Jabatan"
        />
      </div>
    </div>
    <div class="row q-col-gutter-xs q-mb-xs">
      <div class="col-6 row items-end">
        <p class="q-px-xs text-bold">Biaya</p>
        <p>Rp {{ price.toLocaleString() }}</p>
      </div>
      <div class="col-12 col-md-6">
        <form enctype="multipart/form-data">
          <q-input
            filled
            label="Bukti Transfer"
            @change="onFileChanged($event)"
            type="file"
            stack-label
          />
        </form>
      </div>
    </div>

    <q-btn color="primary" label="Register" @click="submit" />

    <!-- <qrcode
      v-if="registered"
      :value="registerID"
      :options="{ width: 200 }"
    ></qrcode>

    {{ model }} -->
  </q-page>
</template>

<script>
import { provinsi, kabupaten } from "./data.js";
import VueQrcode from "@chenfengyuan/vue-qrcode";

export default {
  // name: 'PageName',
  components: {
    qrcode: VueQrcode
  },
  created: function() {
    this.$axios.get(process.env.API + "/api/order").then(res => {
      this.price = this.price + res.data.order;
      this.model.order = res.data.order;
    });
  },
  data: function() {
    return {      
      price: 200000,
      registered: false,
      registerID: "",
      model: {
        order: 0,
        name: "",
        birthplace: null,
        birthday: "",
        gender: null,
        education: null,
        phone: "",
        email: "",
        city: null,
        state: null,
        affiliate: "",
        title: null,
        transfer: ""
      },
      options: ["Google", "Facebook", "Twitter", "Apple", "Oracle"],
      gender: ["L", "P"],
      education: ["SMA", "SMK", "D1", "D2", "D3", "D4", "S1", "S2", "S3"],
      title: [
        "Dewan Pembina",
        "Penasehat",
        "Pengarah",
        "Penanggungjawab",
        "Ketua Umum",
        "Ketua-Wakil Ketua",
        "Sekretaris",
        "Bendahara",
        "Ketua-Koordinator Bidang",
        "Anggota",
        "Lainnya"
      ],
      provinsi,
      kabupaten
    };
  },
  methods: {
    submit: function() {
      this.$axios
        .post(process.env.API + "/api/submit", {
          ...this.model
        })
        .then(res => {
          console.log(res);
          this.registered = true;
          this.registerID = res.data.id;
          this.$router.push(`/confirmation/${res.data.id}`);
        })
        .catch(e => {
          console.log("error", e);
        });
    },
    filterFn(val, update) {
      if (val === "") {
        update(() => {
          this.kabupaten = kabupaten;

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.kabupaten = kabupaten.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    onFileChanged(event) {
      let file = event.target.files[0];
      if (
        (file.type === "image/png" ||
          file.type === "image/jpg" ||
          file.type === "image/jpeg") &&
        file.size / 1000 / 1000 <= 10
      ) {
        //Upload
        const formData = new FormData();
        formData.append("avatar", file, file.name);
        this.$axios
          .post(process.env.API + "/api/upload", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(res => {
            console.log(res.data.link);
            this.model.transfer = res.data.link;
          });
      }
    }
  }
};
</script>
